*.sh
packages/preload/exposedInMainWorld.d.ts
node_modules/**
*.md
*.woff
*.ttf
.vscode
.idea
**/dist/**
/public
/docs
.husky
.local
/bin
Dockerfile
packages/renderer/src/components.d.ts
packages/shared/types/global.d.ts
