/*@tailwind base;*/
@tailwind components;
@tailwind utilities;

@layer utilities {
  .tw-child-w-full > * {
    width: 100%;
  }
}

@font-face {
  font-family: TwemojiMozilla;
  src: url(/assets/font/TwemojiMozilla.ttf) format('truetype');
}

* {
  margin: 0;
  padding: 0;
  user-select: none;
}

body {
  --header-height: 31px;
  font-family: v-sans, system-ui, -apple-system, BlinkMacSystemFont, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI', 'Segoe UI Symbol', 'TwemojiMozilla';
}
